.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.RegistrationPage .lander {
  padding: 80px 0;
  text-align: center;
}

.RegistrationPage .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.RegistrationPage .lander p {
  color: #999;
}

.image {
  text-align: center; 
}

#location {
  width: 50%;
  margin-bottom: 20px;
}
.table {
  margin-top: 20px;
}
